extends layout
block content
    div.jumbotron
        h1
            | Streaming Change Log
        p
            | See a live look at donations for our candidate!
        
    div#status
        
    h2
        div
            #changelog
                